.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
  min-height: 83vh;
}

@media screen and (max-width: 500px) {
  .container-card {
    margin: 30px 0;
  }
}
